<section id="about">
  <div class="container full-width">
    <div class="flex-row">
      <div class="col-6 about-background"></div>
      <div class="col-6 content">
        <span>Come hungry. Leave happy.</span>
        <h3>Southern Tradition, Bold Flavor</h3>
        <p>
          At Liz Kitchen, food is more than just a meal—it’s a celebration of
          tradition, culture, and community. Our journey started with a passion
          for bringing people together over plates filled with love, and we take
          pride in serving up authentic soul food, seafood, and BBQ that keeps
          folks coming back for more. Every dish is crafted with time-honored
          family recipes and the freshest ingredients to ensure every bite is
          packed with flavor.
        </p>
        <p>
          More than just a food truck, we’re a staple in the Charlotte
          community. Whether you’re grabbing a quick bite on your lunch break,
          catering an event, or discovering us for the first time at a local
          festival, we promise a meal that feels like home. Our friendly team is
          always ready to serve up warm smiles along with hot, delicious food,
          because we believe great hospitality is just as important as great
          taste.
        </p>
      </div>
    </div>
  </div>
</section>
