<footer>
  <div class="container">
    <div class="flex-row">
      <section class="footer-content">
        <div class="col-6"></div>
        <div class="col-6">
          <nav>
            <a class="footer-link" routerLink="/home" routerLinkActive="active"
              >Home</a
            >
            <a
              class="footer-link"
              routerLink="/about-miss-lizzs-kitchen"
              routerLinkActive="active"
              >About</a
            >
            <a
              class="footer-link"
              routerLink="/certifications"
              routerLinkActive="active"
              >Certifications</a
            >
            <a class="footer-link" routerLink="/menu" routerLinkActive="active"
              >Menu</a
            >
            <a
              class="footer-link"
              routerLink="/app-coming-soon"
              routerLinkActive="active"
              >App Coming Soon</a
            >
            <a
              class="footer-link"
              routerLink="/testimonials"
              routerLinkActive="active"
              >Testimonials</a
            >
          </nav>
        </div>
      </section>
    </div>
    <div class="flex-row">
      <section class="copyright">
        <div>
          Copyright 2024. Designed &amp; Coded by
          <a href="http://thecruxcreative.com/" target="_blank"
            >The CRUX Creative</a
          >. All Rights Reserved
        </div>
      </section>
    </div>
  </div>
</footer>
