<section class="footer-content">
  <footer>
    <div class="container">
      <div class="flex-row">
        <div class="col-4">
          <div class="tagline">
            <p>We do what we love, and we love what we do</p>
            <img src="/liz-kitchen-logo.png" alt="Liz Kitchen Logo" />
          </div>
        </div>
        <div class="col-4 footer-menu">
          <nav>
            <a
              class="footer-link"
              (click)="scrollToSection('hero')"
              routerLinkActive="active"
              >Home</a
            >
            <a
              class="footer-link"
              (click)="scrollToSection('about')"
              routerLinkActive="active"
              >About</a
            >
            <a
              class="footer-link"
              (click)="scrollToSection('certifications')"
              routerLinkActive="active"
              >Certifications</a
            >
            <a
              class="footer-link"
              (click)="scrollToSection('menu')"
              routerLinkActive="active"
              >Menu</a
            >
            <a
              class="footer-link"
              (click)="scrollToSection('food-truck-app')"
              routerLinkActive="active"
              >App Coming Soon</a
            >
            <a
              class="footer-link"
              (click)="scrollToSection('testimonials')"
              routerLinkActive="active"
              >Testimonials</a
            >
            <a
              class="footer-link"
              (click)="scrollToSection('contact-us')"
              routerLinkActive="active"
            >
              Contact Us
            </a>
          </nav>
        </div>
        <div class="col-4">
          <app-contact-form></app-contact-form>
        </div>
      </div>
      <div class="flex-row">
        <section class="copyright">
          <div>
            Copyright 2025. Designed &amp; Coded by
            <a href="http://thecruxcreative.com/" target="_blank"
              >The CRUX Creative</a
            >. All Rights Reserved
          </div>
        </section>
      </div>
    </div>
  </footer>
</section>
