<footer>
  <section>
    <nav>
      <a class="footer-link" routerLink="/home" routerLinkActive="active"
        >Home</a
      >
      <a
        class="footer-link"
        routerLink="/about-miss-lizzs-kitchen"
        routerLinkActive="active"
        >About</a
      >
      <a
        class="footer-link"
        routerLink="/certifications"
        routerLinkActive="active"
        >Certifications</a
      >
      <a class="footer-link" routerLink="/menu" routerLinkActive="active"
        >Menu</a
      >
      <a
        class="footer-link"
        routerLink="/app-coming-soon"
        routerLinkActive="active"
        >App Coming Soon</a
      >
      <a
        class="footer-link"
        routerLink="/testimonials"
        routerLinkActive="active"
        >Testimonials</a
      >
    </nav>
  </section>
  <section>
    <div>
      Copyright 2024. Designed &amp; Coded by
      <a href="http://thecruxcreative.com/" target="_blank">The CRUX Creative</a
      >. All Rights Reserved
    </div>
  </section>
</footer>
