<header>
  <div class="container" outlines="0">
    <div class="flex-row header">
      <div class="col-12">
        <nav>
          <a
            class="button"
            (click)="scrollToSection('hero')"
            routerLinkActive="active"
            >Home
          </a>
          <a
            class="button"
            (click)="scrollToSection('about')"
            routerLinkActive="active"
            >About</a
          >
          <a
            class="button"
            (click)="scrollToSection('certifications')"
            routerLinkActive="active"
            >Certifications</a
          >
          <a
            class="button"
            (click)="scrollToSection('menu')"
            routerLinkActive="active"
            >Menu</a
          >
          <a
            class="button"
            (click)="scrollToSection('food-truck-app')"
            routerLinkActive="active"
            >App Coming Soon</a
          >
          <a
            class="button"
            (click)="scrollToSection('testimonials')"
            routerLinkActive="active"
            >testimonials</a
          >
          <a
            class="button"
            (click)="scrollToSection('contact-us')"
            routerLinkActive="active"
            >Contact Us</a
          >
        </nav>
      </div>
    </div>
  </div>
</header>
