<header>
  <div class="container" outlines="0">
    <div class="flex-row header">
      <div class="col-12">
        <nav>
          <a class="button" routerLink="/home" routerLinkActive="active"
            >Home</a
          >
          <a
            class="button"
            (click)="scrollToSection('about')"
            routerLinkActive="active"
            >About</a
          >
          <a
            class="button"
            (click)="scrollToSection('certifications')"
            routerLinkActive="active"
            >Certifications</a
          >
          <a class="button" routerLink="/menu" routerLinkActive="active"
            >Menu</a
          >
          <a
            class="button"
            routerLink="/app-coming-soon"
            routerLinkActive="active"
            >App Coming Soon</a
          >
          <a class="button" routerLink="/testimonials" routerLinkActive="active"
            >testimonials</a
          >
        </nav>
      </div>
    </div>
  </div>
</header>
