<section id="contact-us">
  <div class="container full-screen">
    <div class="flex-row">
      <div class="col-12">
        <h1>Contact Form Works!</h1>
      </div>
    </div>
    <div class="flex-row">
      <div class="col-12">
        <section class="contact-form">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="name"
                placeholder="Your Name"
                type="text"
              />
              @if(contactForm.get('name')?.hasError('required')) {
              <mat-error> Name is Required </mat-error>
              } @else if (contactForm.get('name')?.hasError('minLength')) {
              <mat-error> Name must be at least 2 characters long. </mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="Your email"
                type="text"
              />
              @if(contactForm.get('email')?.hasError('required')){
              <mat-error> Email is required </mat-error>
              } @else if (contactForm.get('email')?.hasError('email')) {
              <mat-error> Please enter a valid email address </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Message</mat-label>
              <textarea
                matInput
                formControlName="message"
                placeholder="Please leave your message here"
              ></textarea>
              @if(contactForm.get('message')?.hasError('required')) {
              <mat-error> A Message is Required </mat-error>
              } @else if (contactForm.get('message')?.hasError('minlength')) {
              <mat-error>
                Message must be at least 10 characters long.
              </mat-error>
              }
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!contactForm.valid"
            >
              Send Message
            </button>
          </form>
        </section>
      </div>
    </div>
  </div>
</section>
