<section id="hero">
  <div class="container full-width">
    <header>
      <app-header></app-header>
    </header>
    <div class="flex-row">
      <div class="slider-container" *ngIf="appReadyService.isAppReady()">
        <mat-card
          *ngFor="let slide of slides; let i = index"
          class="slide"
          [class.active]="isSlideActive(i)"
          [style.backgroundImage]="'url(' + slide.image + ')'"
        >
          <div class="slide-content">
            <div class="overlay">
              <div class="text-content">
                <h1>{{ slide.title }}</h1>
                <p>{{ slide.description }}</p>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="slide.buttonAction()"
                >
                  {{ slide.buttonText }}
                </button>
              </div>
            </div>
          </div>
        </mat-card>

        <div class="controls">
          <button mat-icon-button (click)="prevSlide(); resetSlideTimer()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-icon-button (click)="nextSlide(); resetSlideTimer()">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
      <div class="col-6">
        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h1>
        <h3>
          Sunt debitis totam eum beatae voluptatem dolorum autem! Temporibus,
          minima.
        </h3>
        <a href="tel:111+111+1111" target="_blank">
          <button>Call Us to Learn More</button>
        </a>
      </div>
      <div class="col-6"></div>-->
