@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --crimson: #8c3231;
  --bloodorange: #b84a3d;
  --orange: #cd7c47;
  --aqua: #4c6260;
  --navy: #24242c;
  --white: #fff;
  --off-white: #f7f7f7;
  --transparent: rgba(255, 255, 255, 0);
  --transparent-25-percent: rgba(255, 255, 255, 0.25);
  --font-family: "Poppins", serif;
  --headerFont: "Anton SC", serif;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.44em;
  font-weight: 500;
  color: var(--navy);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--headerFont) !important;
    color: var(--crimson);
  }
  p {
    font-family: var(--font-family) !important;
    color: var(--navy) !important;
  }
  a {
    text-decoration: none;
  }
}

header {
  position: relative;
  padding: 0;
  vertical-align: top;
  height: 71px;
  z-index: 100;
  background-color: var(--transparent);
  border-bottom: 1px solid;
  border-color: var(--transparent-25-percent);
  .mat-toolbar-single-row {
    background: var(--transparent);
    justify-content: space-between;
    .crux-header-logo {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img {
        width: 37%;
        height: auto;
      }
    }
    /* Mobile Menu Toggle */
    .menu-toggle {
      display: none;
      font-size: 28px;
      background: none;
      border: none;
      cursor: pointer;
      color: var(--white);
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 101;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        display: flex;
        position: relative;
        align-items: center;
        white-space: nowrap;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        li {
          position: relative;
          list-style-type: none;
          margin: 0;
          padding: 0;
          height: 100%;
          a {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 26px 45px;
            font-family: var(--font-family);
            font-size: 16px;
            line-height: 1.44em;
            font-weight: 500;
            letter-spacing: -0.02em;
            color: var(--white);
            &:hover {
              background: rgba(255, 255, 255, 0.25);
              transform: all transform 0.2s;
            }
            &:active {
              background: rgba(255, 255, 255, 0.25);
              transform: all transform 0.2s;
            }
          }
        }
      }
    }
    .crux-header-widget {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        mat-icon {
          color: var(--white);
        }
        a {
          color: var(--white);
          font-size: 16px;
        }
      }
    }
  }
}

.slider-container {
  margin-top: -101px;
}

section {
  padding: 102px 0 120px 0; /*1.5% 1% 1.5% 1%*/
  &#hero,
  &.footer-content {
    padding: 0;
  }
  &#about {
    padding: 0;
    .about-background {
      width: 100%;
      height: auto;
      background-image: url(../../../public/slider-image-2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .content {
      padding: 102px 75px 120px 75px;
    }
  }
  &#certifications,
  &#menu {
    background: var(--off-white);
    .featured-dish {
      justify-content: center;
      .menu-item {
        padding: 10px;
        mat-card {
          align-content: center;
          mat-card-content {
            img {
              width: 100%;
              height: auto;
              border-radius: 5px;
            }
            h5 {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  &#food-truck-app {
    background-color: var(--off-white);
    background-image: url(../../../public/app-coming-soon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    .full-screen-section {
      position: relative;
      display: flex;
      width: 100%;
      height: 100vh;
      min-height: 103vh;
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 213px 75px 213px 75px;
      }
    }
  }
}

footer {
  display: flex;
  background: var(--navy);
  .tagline {
    display: flex;
    flex-direction: column;
    padding: 150px 30px;
    p {
      font-size: 38px;
      font-weight: bold;
      line-height: 40px;
      color: var(--off-white) !important;
    }
    img {
      width: 100%;
      height: auto;
      padding: 56px;
    }
  }
  .footer-menu {
    padding: 150px 30px;
    nav {
      display: flex;
      flex-direction: column;
      a {
        color: var(--off-white);
        padding: 10px 0 15px 0;
      }
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px 0;
    color: var(--bloodorange);
    a {
      color: var(--crimson);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      :hover {
        color: var(--crimson);
      }
    }
  }
}

@media screen and (max-width: 360px) {
  #hero {
    .container {
      padding: 0 !important;
    }
  }

  header {
    /* The header should be redone to be mentioned once in the header and not recalled multiple times*/
    .mat-toolbar-single-row {
      .menu-toggle {
        display: block;
      }
      nav {
        ul {
          li {
            width: 100%;
          }
        }
      }
      .crux-header-nav {
        position: absolute;
        top: 76px;
        left: 0;
        width: 100%;
        background: var(--navy);
        display: none;
        flex-direction: column;
        text-align: center;
        z-index: 100;
      }

      .crux-header-nav.open {
        display: flex;
      }

      .crux-header-nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
      }

      .crux-header-nav a {
        display: block;
        padding: 15px;
        font-size: 18px;
        color: var(--white);
        border-bottom: 1px solid var(--transparent-25-percent);
      }

      .crux-header-nav a:hover {
        background: rgba(255, 255, 255, 0.25);
      }
    }
  }
  section {
    &#about {
      .content {
        padding: 102px 25px 120px 25px;
      }
    }
    &#food-truck-app {
      .full-screen-section {
        .content {
          padding: 263px 25px 213px 25px;
        }
        .col-6:last-of-type {
          display: none;
        }
      }
    }
  }
  footer {
    .tagline,
    .footer-menu {
      padding: 40px 30px;
    }
    section {
      &#contact-us {
        padding: 0;
      }
    }
    .copyright {
      text-align: center;
    }
  }
}

@media screen and (min-width: 361px) and (max-width: 480px) {
  /* Adjust container width */
  .container {
    width: 95%;
    max-width: 95%;
  }
  header {
    .crux-header-logo img {
      height: 40px;
    }
    .crux-header-nav {
      position: absolute;
      top: 76px;
      left: 0;
      width: 100%;
      background: var(--navy);
      display: none;
      flex-direction: column;
      text-align: center;
      z-index: 100;
    }

    .crux-header-nav.open {
      display: flex;
    }

    .crux-header-nav ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .crux-header-nav a {
      display: block;
      padding: 15px;
      font-size: 18px;
      color: var(--white);
      border-bottom: 1px solid var(--transparent-25-percent);
    }

    .crux-header-nav a:hover {
      background: rgba(255, 255, 255, 0.25);
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
}

@media screen and (min-width: 961px) and (max-width: 1024px) {
}
