@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --crimson: #8c3231;
  --bloodorange: #b84a3d;
  --orange: #cd7c47;
  --aqua: #4c6260;
  --navy: #24242c;
  --white: #fff;
  --off-white: #f7f7f7;
  --transparent: rgba(255, 255, 255, 0);
  --transparent-25-percent: rgba(255, 255, 255, 0.25);
  --font-family: "Poppins", serif;
  --headerFont: "Anton SC", serif;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.44em;
  font-weight: 500;
  color: var(--navy);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--headerFont) !important;
    color: var(--crimson);
  }
  p {
    font-family: var(--font-family) !important;
    color: var(--navy) !important;
  }
  a {
    text-decoration: none;
  }
}

header {
  position: relative;
  padding: 0;
  vertical-align: top;
  height: 76px;
  z-index: 100;
  background-color: var(--transparent);
  border-bottom: 1px solid;
  border-color: var(--transparent-25-percent);
  .crux-header-logo {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    a {
      position: relative;
      display: flex;
      align-items: center;
      max-height: 100%;
      padding-top: 5px;
      img {
        height: 70px;
        width: auto;
      }
    }
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      position: relative;
      align-items: center;
      white-space: nowrap;
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
      li {
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        a {
          position: relative;
          cursor: pointer;
          display: flex;
          align-items: center;
          height: 100%;
          padding: 26px 45px;
          font-family: var(--font-family);
          font-size: 16px;
          line-height: 1.44em;
          font-weight: 500;
          letter-spacing: -0.02em;
          color: var(--white);
          &:hover {
            background: rgba(255, 255, 255, 0.25);
            transform: all transform 0.2s;
          }
          &:active {
            background: rgba(255, 255, 255, 0.25);
            transform: all transform 0.2s;
          }
        }
      }
    }
  }
  .crux-header-widget {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      a {
        color: var(--white);
      }
    }
  }
}

.slider-container {
  margin-top: -101px;
}

section {
  padding: 102px 0 120px 0; /*1.5% 1% 1.5% 1%*/
  &#hero,
  &.footer-content {
    padding: 0;
  }
  &#about {
    padding: 0;
    .about-background {
      width: 100%;
      height: auto;
      background-image: url(../../../public/main-image-1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .content {
      padding: 102px 75px 120px 75px;
    }
  }
  &#certifications,
  &#menu {
    background: var(--off-white);
    .featured-dish {
      justify-content: center;
    }
  }
  &#food-truck-app {
    background-image: url(../../../public/slider-image-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

footer {
  background: var(--navy);
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px 0;
    color: var(--bloodorange);
    a {
      color: var(--crimson);
    }
  }
}
