<section id="food-truck-app">
  <div class="container full-width">
    <div class="flex-row">
      <div class="full-screen-section">
        <div class="col-6">
          <div class="content">
            <h3>We have a Food Truck App Coming Soon</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error,
              illum deserunt quasi nostrum non ullam, minus id ipsam suscipit at
              eligendi obcaecati a quod tempora numquam quia! Eveniet, sit
              expedita!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              corrupti animi laudantium id! Magni, consequatur delectus ducimus
              dolor ab dignissimos beatae. Libero laboriosam voluptatem odio
              eveniet quibusdam esse non voluptatibus.
            </p>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
</section>
