<section id="about">
  <div class="container full-screen">
    <div class="flex-row">
      <div class="col-6 about-background"></div>
      <div class="col-6">
        <span>We offer the best food around etc</span>
        <h3>About Miss Liz's Kitchen</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro
          pariatur doloribus, nesciunt culpa facilis, aspernatur, dignissimos
          repudiandae saepe fuga ullam officia labore. Accusantium quasi optio
          quidem quibusdam, cupiditate possimus provident?
        </p>
      </div>
    </div>
  </div>
</section>
