<section id="menu">
  <div class="container full-screen">
    <div class="flex-row">
      <div class="col-12">
        <span class="subHeader">Lorem Ante IOS</span>
        <h1>Menu Coming Soon!</h1>
      </div>
    </div>
    <div class="flex-row featured-dish">
      <div class="menu-item col-4">
        <img src="" alt="" />
        <h3>Featured Dish 1</h3>
        <p>
          Eu mea audiam equidem, has ad dolore officiis. No zril solet minimum
          sit.
        </p>
      </div>
      <div class="menu-item col-4">
        <img src="" alt="" />
        <h3>Featured Dish 1</h3>
        <p>
          Eu mea audiam equidem, has ad dolore officiis. No zril solet minimum
          sit.
        </p>
      </div>
      <div class="menu-item col-4">
        <img src="" alt="" />
        <h3>Featured Dish 1</h3>
        <p>
          Eu mea audiam equidem, has ad dolore officiis. No zril solet minimum
          sit.
        </p>
      </div>
    </div>
    <div class="flex-row">
      <div class="menu-item col-4">
        <img src="" alt="" />
        <h3>Featured Dish 1</h3>
        <p>
          Eu mea audiam equidem, has ad dolore officiis. No zril solet minimum
          sit.
        </p>
      </div>
      <div class="menu-item col-4">
        <img src="" alt="" />
        <h3>Featured Dish 1</h3>
        <p>
          Eu mea audiam equidem, has ad dolore officiis. No zril solet minimum
          sit.
        </p>
      </div>
      <div class="menu-item col-4">
        <img src="" alt="" />
        <h3>Featured Dish 1</h3>
        <p>
          Eu mea audiam equidem, has ad dolore officiis. No zril solet minimum
          sit.
        </p>
      </div>
    </div>
  </div>
</section>
