<section id="menu">
  <div class="container full-screen">
    <div class="flex-row">
      <div class="col-12">
        <span class="subHeader">Lorem Ante IOS</span>
        <h3>Menu Coming Soon!</h3>
      </div>
    </div>
    <div class="flex-row featured-dish">
      <div class="col-3 menu-item" *ngFor="let item of menuItems">
        <div class="menu-item-container">
          <img [src]="item.menuItemPic" alt="" />
          <h4>{{ item.menuItem }}</h4>
          <p>{{ item.dishDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
