<section id="testimonials">
  <div class="container">
    <div class="flex-row">
      <div class="col-2"></div>
      <div class="col-8 align-center">
        <h1>What Our Customers Are Saying</h1>
        <p>
          Our customers are the heart of Liz Kitchen, and their love for our
          food speaks for itself. From locals who make us a weekly stop to
          first-time visitors who become lifelong fans, we’re honored to serve
          the best soul food, seafood, and BBQ in Charlotte. Whether it’s the
          smoky tenderness of our ribs, the perfect crisp on our fried fish, or
          the rich, cheesy goodness of our mac & cheese, our flavors leave a
          lasting impression. But don’t just take our word for it—see what our
          happy customers have to say!
        </p>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="flex-row">
      <section class="testimonials-carousel">
        <div class="carousel-container">
          <button
            mat-icon-button
            class="scroll-button left"
            (click)="scrollLeft(carousel)"
          >
            <mat-icon>chevron_left</mat-icon>
          </button>
          <div class="carousel" #carousel>
            <mat-card
              *ngFor="let testimonial of testimonials"
              class="testimonial-card"
            >
              <div class="testimonial-content">
                <img [src]="testimonial.image" alt="{{ testimonial.name }}" />
                <!--<h3>{{ testimonial.name }}</h3>-->
                <p>{{ testimonial.testimonial }}</p>
              </div>
            </mat-card>
          </div>

          <button
            mat-icon-button
            class="scroll-button right"
            (click)="scrollRight(carousel)"
          >
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </section>
    </div>
  </div>
</section>
