<section id="certifications">
  <div class="container">
    <div class="flex-row">
      <div class="col-2"></div>
      <div class="col-8 align-center">
        <h1>Award-Winning Flavor, Loved by Charlotte</h1>
        <p>
          At Liz Kitchen, we don’t just serve food—we serve experiences. Our
          dedication to quality ingredients, bold flavors, and top-notch service
          has earned us recognition as one of Charlotte’s must-visit food
          trucks. Whether it's our fall-off-the-bone BBQ ribs, perfectly
          seasoned seafood, or crispy golden fries, every dish is made with
          passion and Southern tradition.
        </p>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="flex-row">
      <div class="col-4"><img src="" alt="" /></div>
      <div class="col-4"><img src="" alt="" /></div>
      <div class="col-4"><img src="" alt="" /></div>
    </div>
  </div>
</section>
